/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--cover-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--color-bg-primary);
  position: relative;
}
.decorated-zone {
  position: relative;
}
/* Угловые линии*/
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
  pointer-events: none;
}

.decorated-zone::before {
  border-top: 1px solid var(--color-decorate);
  border-right: 1px solid var(--color-decorate);
  right: 10px;
  margin-block-start: 10.5px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--color-decorate);
  border-left: 1px solid var(--color-decorate);
  margin-block-start: 632.5px;
  margin-inline-start: 10px;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.header__theme-menu {
  display: grid;
  align-items: start;
  padding-top: 65px;
  justify-content: end;
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-accent-text);
  row-gap: 12px;
}

.header__theme-menu-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  padding: 1px 13.1px 3px 10px;
  outline: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border-color: var(--color-accent-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-border);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-border);
  line-height: 17px;
  padding-inline-end: 12px;
  padding-block-end: 4px;
  margin-block-start: 1px;
  pointer-events: none;
}

.decorated-element {
  position: absolute;
  font-size: 18px;
  color: var(--color-decorate);
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  right: 20px;
  margin-block-start: 10px;
}

.decorated-element::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: var(--color-decorate);
  border-radius: 50%;
  margin-left: 10px;
  margin-block-end: 2px;
  box-shadow: 1px 0px 4px 3px var(--color-shadow);
}

.no-focus {
  justify-self: start;
  align-self: center;
  display: flex;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-text-accent);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  flex-wrap: wrap;
  line-height: 96px;
  padding-top: 11px;
  grid-row: 2;
  text-shadow: 4px 4px 0 var(--color-shadow);
}

.title {
  font-size: 18px;
  color: var(--color-text-dark);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--color-accent);
}

.focus-content {
  justify-self: end;
  align-self: center;
  padding-block-start: 8px;
  grid-row: 3;
}

.main {
  display: grid;
  background-color: var(--color-bg-primary);
  padding-block-start: 40px;
  gap: 50px;
}


.section__title {
  font-size: 18px;
  color: var(--color-accent-text);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 23.4px;
}

.card__text {
  font-size: 18px;
  color: var(--color-text-primary);
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  padding-block-start: 9.8px;
  line-height: 23.4px;
}

.card__content {
  padding-top: 0.1px;
}

.card__title {
  font-size: 18px;
  background-color: var(--color-accent);
  color: var(--color-text-dark);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 23.4px;
}

.card__subtitle {
  font-size: 18px;
  background-color: var(--color-accent);
  color: var(--color-text-dark);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 23.4px;
  margin-bottom: 19.9px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
}

.section {
  display: grid;
  gap: 20px;
  padding-right: 10px;
  padding-left: 10px;
}


.text__width {
  font-weight: 400;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-shadow);
}

.link:hover {
  border-bottom: 1px solid var(--color-link-hover);
}

.link:focus-visible {
  outline: 1px solid var(--color-link-hover);
  outline-offset: 2px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6.2px;
}

.section-gallery {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10.3px;
  padding-block-end: 35px;
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: auto;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  background-color:var(--color-bg-primary);
  min-height: 668px;
  height: 100vh;
  align-items: start;
  justify-content: center;
}

.focus {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--color-text-accent);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 96px;
  margin-block-start: 288px;
  text-shadow: 2px 2px 0 var(--color-shadow-footer);
}

@media (min-width: 768px) {

  .header {
    padding-inline-start: 0px;
    min-height: 1024px;
    height: 100vh;
  }

  .decorated-zone::before {
    right: 20px;
    margin-block-start: 20px;
  }

  .decorated-zone::after {
    margin-block-start: 979.5px;
    margin-inline-start: 20px;
  }

  .decorated-element {
    right: 30px;
    margin-block-start: 21px;
  }

  .header__theme-menu {
    padding-block-start: 182px;
    padding-inline-end: 10px;
  }

  .no-focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .focus-content {
    padding-block-start: 0px;
    padding-inline-start: 384px;
    padding-inline-end: 10px;
  }

  .main {
    padding-block-start: 58px;
    padding-inline-end: 9px;
    padding-inline-start: 10px;
    gap: 49px;
  }

  .section {
    gap: 19px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .card {
    grid-template-columns: 1fr;
  }
  .card__content {
    padding-top: 1.3px;
  }

  .card__text {
    line-height: 130%;
  }
  
  .section:nth-child(1) {
    display: grid;
    grid-template-columns: 32.5% 64.7%;
    padding-bottom: 30px;
  }
  
  .section:nth-child(1) .section__title {
    grid-column: 1;
    padding-top: 2px;
  }
  
  .section:nth-child(1) .card {
    grid-column: 2;
    display: grid;
    padding-top: 0.4px;
    gap: 19px;
  }
  
  .section:nth-child(2) {
    display: block;
    padding-bottom: 12px;
  }
  
  .section:nth-child(2) .section__title {
    display: grid;
    grid-template-columns: 32%;
    margin-bottom: 19px;
  }
  
  .section:nth-child(2) .card {
    display: grid;
    padding-bottom: 19px;
    gap: 19px;
  }
  
  .section:nth-child(3) {
    display: grid;
    grid-template-columns: 32.4% 64.7%;
    align-items: start;
  }
  
  .section:nth-child(3) .section__title {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
  }

  .section:nth-child(3) > *:not(.section__title) {
    grid-column: 2;
}
  
  .section:nth-child(3) > h3.card__title {
    grid-column: 2;
    margin-top: 0;
    margin-bottom: 20px;
  }

  
  .section:nth-child(3) .card {
    gap: 18.5px;
  }

  .card__subtitle {
    margin-bottom: 0px;
  }

  .section-gallery {
    display: grid;
    padding-block-start: 30px;
    padding-right: 11px;
    padding-left: 10px;
    gap: 10px;
    margin-top: 1px;
    padding-block-end: 60px;
  }
  
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    margin-block-start: 9px;
  }

  .gallery__image {
    display: block;
    height: 100%;
  }

  .gallery__item {
    box-sizing: border-box;
    min-block-size: 4.3em;
    margin: 0;
  }
  .gallery__item:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: 1 / span 2;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / span 2;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
    height: 100vh;
  }

  .focus {
    padding-block-start: 178px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .decorated-zone::after {
    margin-block-start: 723.5px;;
  }

  .no-focus {
    padding-block-start: 10px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-self: center;
    column-gap: 12px;
  }

  .header__theme-menu {
    justify-content: center;
    padding-block-start: 10px;
    padding-inline-start: 22px;
  }

  .header__theme-menu-button {
    background: transparent;
    border: 1px solid transparent;
    padding: 1px 12.5px 3px 10px;
    outline: none;
    text-transform: lowercase;
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--color-border);
    line-height: 17px;
    padding-inline-end: 12px;
    padding-block-end: 4px;
    margin-block-start: 1px;
    pointer-events: none;
  }

  .focus-content {
    padding-bottom: 7px;
    padding-block-start: 30px;
    padding-inline-start: 513px;
    padding-top: 23px;
  }

  
  .section:nth-child(1) {
    display: grid;
    grid-template-columns: 32% 66%;
    padding-bottom: 30px;
  }

  .section:nth-child(2) {
    display: grid;
    padding-bottom: 12px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .section:nth-child(2) .section__title {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 32%;
    margin-bottom: 1px;
  }
  
  .section:nth-child(2) .card {
    display: grid;
    padding-bottom: 19px;
    gap: 19px;
  }
  
  .section:nth-child(3) {
    grid-template-columns: 32.1% 65.8%;
  }
  
  .section:nth-child(3) > h3.card__title {
    grid-column: 2;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .section:nth-child(3) .card {
    gap: 17.6px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow:dense;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 768px;
  }

  .focus {
    padding-block-start: 50px;
  }
}